<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/adoptar/paso-3">
        <ion-icon name="arrow-back-outline" size="large" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Adoptar Mascota Paso 4</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
  <div class="ion-text-center"><img src="../../../assets//contrato.png" width="70%" height="70%"/></div>
  <h2 class="ion-text-center">¿Esta seguro de confirmar la solicitud de adopción?</h2>
  <br>
  <div class="ion-text-center"> 
    <ion-button expand="full" class="ion-text-sm-capitalize" routerLink="/adoptame/app/home">Publicar</ion-button>
    <br>
    <ion-button expand="full" class="ion-text-sm-capitalize">Cacelar</ion-button>
  </div>    
</ion-content>
