
<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/adoptar/paso-2">
        <ion-icon name="arrow-back-outline" size="large" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Adoptar Mascota Paso 3</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
  <div>
      <img src="../../../assets/ubiMascota.png"  width="70%" height="70%"/>
  </div>
  <h2 class="ion-text-center">¿Donde desea hacer la adopción?</h2>
  <br>
  <div class="ion-text-center"> 
    <ion-button expand="full" class="ion-text-sm-capitalize" routerLink="/adoptar/paso-4">Mi ubicacion</ion-button>
    <br>
    <ion-button class="ion-text-sm-capitalize"expand="full" routerLink="/adoptar/paso-4">La hubicacion de la mascota</ion-button>  
  </div>
</ion-content>
