.mensaje{
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 4px;
	white-space: pre-wrap;
}


.otro-mensaje{
	background: blue;
	color:#ffff;
}

.mi-mensaje{
	background: greenyellow;
	color:#ffff;
}