<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/adoptame/app/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container ion-text-center ion-padding">
  <h1>Esta a punto de iniciar el proceso de registrar una mascota</h1>
  <ion-button color="success" type="submit" expand="block" routerLink="/agregar/paso-1">Continuar</ion-button>
</ion-content>
